{% extends 'base.html' %}
{% block header %}
    <title>Moje quizy</title>
{% endblock %}

{% block content %}

    {% if quizy %}
    <h1 align="center">Moje quizy</h1>
<div class="list-group">
    {% for quiz in quizy %}
    <div class="row m-4">
        <h4 class="list-group-item list-group-item-primary">{{quiz.opis}}</h4>
        <a href="{% url 'dany_quiz' id=quiz.id %}" class="btn btn-outline-primary btn-lg btn-block"> Rozpocznij {{ quiz.nazwa }}</a>
        <a href="{% url 'edytuj_quiz' id=quiz.id %}" class="btn btn-outline-dark btn-lg btn-block pull-right"> Edytuj </a>
        <a href="{% url 'usun_quiz' pk=quiz.id %}" class="btn btn-outline-danger btn-lg btn-block pull-right"> Usuń </a>
        <br />
    </div>
    {% endfor %}
</div>
{% else %}
<h1 align="center">Brak quizów użytkownika!</h1>

    {% endif %}
{% endblock %}
