<form action="../update/{{id}}" method="post">
    <h3 style="text-align: center;"> Edytuj tag </h3>
    <label for="Tekst">Tekst:</label>
    <input class="form-control" type="text" id="Tekst" name="Tekst" value="{{item.Tekst}}"><br /><br />
    <div style="text-align: center; padding: 20px">
        <input class="btn btn-primary btn-lg" type="submit" value="Zatwierdź">
    </div>
</form>